<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<% if @new == false and @user == 'admin'%>
<h3><%= _("Merge Articles")%></h3>
<%= form_tag :action => "merge_with", :id => @article.id do %>
  <%= label_tag(:q, "Article ID:") %>
  <%= text_field_tag("merge_with") %>
  <%= submit_tag("Merge") %>
<% end %>
<% end %>